<!DOCTYPE html>
<html ng-app="myNasApp">
<head>
    <link href="../../lib/bootstrap_3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/app.css" rel="stylesheet">

    <script src="../../lib/jquery_2.1.3/jquery-2.1.3.min.js"></script>
    <script src="../../lib/bootstrap_3.3.2/js/bootstrap.min.js"></script>
    <script src="../../lib/angular_1.3.12/angular.min.js"></script>
    <script src="../../lib/angular_bootstrap_checkbox/angular_checkbox.js"></script>
    <script src="../../lib/lodash_3.0.1/lodash.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body ng-controller="navCtrl" style="padding-top: 70px;">
<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav_bar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{getCurTitle()}}</a>
    </div>
    <div class="collapse navbar-collapse" id="main_nav_bar">
        <ul class="nav navbar-nav">
            <li ng-repeat="tab in tabs" ng-click="selectTab(tab.idx)" ng-class="{active: tab.selected}">
                <a href="#">{{tab.display_name}}</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" ng-if="getCurTitle() == 'My Nas'" ng-controller="nasMainCtrl">
    <div class="list-group" ng-show="!connected">
        <a href="#" class="list-group-item" ng-repeat="profile in profiles" ng-click="connectProfile(profile.profileId)">
            <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-hdd"></span>{{profile.profileName}}</h3>
            <p class="list-group-item-text">{{profile.rootUrl}}</p>
        </a>
    </div>
    <div ng-show="connected">
        <div class="browser-btn-bar row">
            <div class="btn-group col-xs-12" role="group">
                <button class="btn btn-danger" ng-click="disconnect()"><span class="glyphicon glyphicon-ban-circle"></span>Disconnect</button>
            </div>
        </div>
        <div class="list-group entry-list-wrapper">
            <a href="#" class="list-group-item" ng-repeat="entry in docTree" ng-click="goTo(entry)" on-long-press="showContextMenu(entry)">
                <span class="glyphicon glyphicon-folder-open" ng-show="entry.isDirectory && !entry.command"></span>
                <span class="glyphicon glyphicon-file" ng-show="!entry.isDirectory && !entry.command"></span>
                <span class="glyphicon glyphicon-arrow-up" ng-show="entry.command == 'up'"></span>
                {{entry.name}}
            </a>
        </div>
    </div>
    <div class="modal fade" id="entry-menu" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="list-group no-margin">
                        <a href="#" class="list-group-item active" ng-click="downloadFile()" ng-show="selectedEntryIsFile">Download</a>
                        <a href="#" class="list-group-item active">Rename</a>
                        <a href="#" class="list-group-item active">Delete</a>
                        <a href="#" class="list-group-item active" ng-click="showEntryDetails()">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="entry-details" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-primary no-margin">
                        <div class="panel-heading">
                            {{curEntryDetail.name}}
                        </div>
                        <div class="panel-body">
                            <p>Created: {{curEntryDetail.created}}</p>
                            <p>Modified: {{curEntryDetail.lastModified}}</p>
                            <p>Size: {{curEntryDetail.size}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-if="getCurTitle() == 'Downloads'" ng-controller="downloadsCtrl">
    <div ng-repeat="job in downloads" class="alert" ng-class="getBgColor(job)">
        <p>{{job.destFileName}}({{job.fileSize}})</p>
        <p ng-show="job.status=='IN_PROGRESS' || job.status=='WAITING'">{{job.speed}}</p>
        <div class="progress">
            <div class="progress-bar" ng-class="getProgressStyle(job)" style="min-width: 2em; width: {{job.progress}}">
                {{job.progress}}
            </div>
        </div>
        <button ng-show="job.status=='IN_PROGRESS'" ng-click="stopJob(job)" class="btn btn-link btn-xs">Stop</button>
        <button ng-show="job.status=='WAITING'" ng-click="stopJob(job)" class="btn btn-link btn-xs">Cancel</button>
        <button ng-show="job.status=='FINISHED' || job.status=='TERMINATED' || job.status=='CANCELLED'" ng-click="removeHistory(job)" class="btn btn-link btn-xs">Remove</button>
    </div>
</div>

<div class="container" ng-if="getCurTitle() == 'Settings'" ng-controller="profileSettingsCtrl">
    <div ng-if="!showDetail">
        <div class="btn-group" style="margin-bottom: 10px;">
            <button class="btn btn-success" ng-click="goToNewProfile()">Create new profile</button>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="profile in profiles" ng-click="viewDetail(profile)">
                {{profile.profileName}}
            </a>
        </div>
    </div>
    <div ng-if="showDetail">
        <form class="well">
            <div class="form-group">
                <label>Profile Name:</label>
                <input class="form-control" ng-model="curProfile.profileName">
            </div>
            <div class="form-group">
                <label>Root URL:</label>
                <input class="form-control" ng-model="curProfile.rootUrl">
            </div>
			<div class="form-group">
                <label>Port:</label>
                <input type="number" class="form-control" ng-model="curProfile.portNumber">
            </div>
            <div class="form-group">
                <label>Username:</label>
                <input class="form-control" ng-model="curProfile.username">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="curProfile.password">
            </div>
        </form>
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="goToListView(false)" ng-disabled="wait">Back</button>
        </div>
        <div class="btn-group pull-right" ng-show="curProfile.profileId != -1">
            <button class="btn btn-danger"  ng-click="deleteProfile()" ng-disabled="wait">Delete</button>
            <button class="btn btn-success" ng-click="saveProfile()" ng-disabled="wait">Save</button>
        </div>
        <button class="btn btn-success pull-right" ng-show="curProfile.profileId == -1" ng-click="createProfile()" ng-disabled="wait">Create</button>
    </div>
</div>

<div class="container" ng-if="getCurTitle() == 'About'">
    <p>My NAS lets you browse CIFS (Windows) shared folders in your home network.</p>
    <p>Project started from Jan 2015.</p>
    <p>For Wen and Daniel.</p>
</div>
</body>
</html>