.list-group-item {
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: medium;
}

.list-group-item.active {
    border-color: #fff;
}
.list-group-item.active:hover {
    background-color: #08467C;
    border-color: #fff;
}

.glyphicon {
    margin-right: 10px;
}

.btn {
    font-size: large;
}

.btn.no-large {
    font-size: initial;
}

.thumbnail {
    padding: 0 20px;
    box-shadow: 0px 5px 10px 0px rgba(140,140,140,1);
}

.thumbnail h4, .thumbnail p {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.alert p {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

a.thumbnail:hover {
    text-decoration: none;
}

.browser-btn-bar {
    position: fixed;
    top: 50px;
    z-index: 1;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(140,140,140,1);
}

.entry-list-wrapper {
    position: relative;
    top: 50px;
}

.no-margin {
    margin: 0;
}

.modal-body {
    padding: 0;
}

.modal-dialog {
    margin-top: 120px;
}